In [2]:
import pandas as pd

In [3]:
es = pd.read_csv("CAElementarySchool.csv")
ms = pd.read_csv("CAMiddleSchool.csv")
hs = pd.read_csv("CAHighSchool.csv")
district = pd.read_csv("CADistrictSchools.csv")
city = pd.read_csv("CACitiesSchools.csv")

In [ ]:
#district.rename(columns={"Rank (of 849)":"Rank"}, inplace=True)

In [665]:
#district["rank"] = district["Rank (of 849)"].fillna("0th").apply(lambda k: k[:len(k)-2])
district["rank"] = district["Rank"].fillna("0th").apply(lambda k: int(k[:len(k)-2]))

In [640]:
len(district)

1094

In [650]:
district.groupby("rank").count().reset_index().sort_values("rank")

,rank,Rank,District,Grades,# Elementary Schools,# Middle Schools,# High Schools,# Alt. Schools,City,County,Rank score (2017),Rank (2016)
0,0,0,245,244,245,245,245,245,245,245,0,0
1,1,1,1,1,1,1,1,1,1,1,1,1
2,10,1,1,1,1,1,1,1,1,1,1,1
3,100,1,1,1,1,1,1,1,1,1,1,1
4,101,1,1,1,1,1,1,1,1,1,1,1
5,102,1,1,1,1,1,1,1,1,1,1,1
6,103,1,1,1,1,1,1,1,1,1,1,1
7,104,1,1,1,1,1,1,1,1,1,1,1
8,105,1,1,1,1,1,1,1,1,1,1,1
9,106,1,1,1,1,1,1,1,1,1,1,1
10,107,1,1,1,1,1,1,1,1,1,1,1
11,108,1,1,1,1,1,1,1,1,1,1,1
12,109,1,1,1,1,1,1,1,1,1,1,1
13,11,1,1,1,1,1,1,1,1,1,1,1
14,110,1,1,1,1,1,1,1,1,1,1,1
15,111,1,1,1,1,1,1,1,1,1,1,1
16,112,1,1,1,1,1,1,1,1,1,1,1
17,113,1,1,1,1,1,1,1,1,1,1,1
18,114,1,1,1,1,1,1,1,1,1,1,1
19,115,1,1,1,1,1,1,1,1,1,1,1
20,116,1,1,1,1,1,1,1,1,1,1,1
21,117,1,1,1,1,1,1,1,1,1,1,1
22,118,1,1,1,1,1,1,1,1,1,1,1
23,119,1,1,1,1,1,1,1,1,1,1,1
24,12,1,1,1,1,1,1,1,1,1,1,1
25,120,1,1,1,1,1,1,1,1,1,1,1
26,121,1,1,1,1,1,1,1,1,1,1,1
27,122,1,1,1,1,1,1,1,1,1,1,1
28,123,1,1,1,1,1,1,1,1,1,1,1
29,124,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
820,840,1,1,1,1,1,1,1,1,1,1,0
821,841,1,1,1,1,1,1,1,1,1,1,1
822,842,1,1,1,1,1,1,1,1,1,1,1
823,843,1,1,1,1,1,1,1,1,1,1,1
824,844,1,1,1,1,1,1,1,1,1,1,1
825,845,1,1,1,1,1,1,1,1,1,1,1
826,846,1,1,1,1,1,1,1,1,1,1,0
827,847,1,1,1,1,1,1,1,1,1,1,1
828,848,1,1,1,1,1,1,1,1,1,1,1
829,849,1,1,1,1,1,1,1,1,1,1,1
830,85,1,1,1,1,1,1,1,1,1,1,1
831,850,1,1,1,1,1,1,1,1,1,1,1
832,851,1,1,1,1,1,1,1,1,1,1,1
833,852,1,1,1,1,1,1,1,1,1,1,1
834,853,1,1,1,1,1,1,1,1,1,1,1
835,86,1,1,1,1,1,1,1,1,1,1,1
836,87,1,1,1,1,1,1,1,1,1,1,1
837,88,1,1,1,1,1,1,1,1,1,1,1
838,89,1,1,1,1,1,1,1,1,1,1,1
839,9,1,1,1,1,1,1,1,1,1,1,1
840,90,1,1,1,1,1,1,1,1,1,1,1
841,91,1,1,1,1,1,1,1,1,1,1,1
842,92,1,1,1,1,1,1,1,1,1,1,1
843,93,1,1,1,1,1,1,1,1,1,1,1
844,94,1,1,1,1,1,1,1,1,1,1,1
845,95,1,1,1,1,1,1,1,1,1,1,1
846,96,1,1,1,1,1,1,1,1,1,1,0
847,97,1,1,1,1,1,1,1,1,1,1,1
848,98,1,1,1,1,1,1,1,1,1,1,1
849,99,1,1,1,1,1,1,1,1,1,1,1

In [659]:
# district.drop(["test"], axis=1, inplace=True)
temp = district.groupby("rank").count().reset_index()
temp[temp["District"] > 1]
temp["rank"] = temp["rank"].apply(lambda k: int(k))
temp.sort_values("rank", inplace=True)
temp.head()

,rank,Rank,District,Grades,# Elementary Schools,# Middle Schools,# High Schools,# Alt. Schools,City,County,Rank score (2017),Rank (2016)
0,0,0,245,244,245,245,245,245,245,245,0,0
1,1,1,1,1,1,1,1,1,1,1,1,1
111,2,1,1,1,1,1,1,1,1,1,1,1
222,3,1,1,1,1,1,1,1,1,1,1,1
333,4,1,1,1,1,1,1,1,1,1,1,1

In [672]:
district_temp = district.reset_index()
district_temp.head()

,level_0,index,Rank,District,Grades,# Elementary Schools,# Middle Schools,# High Schools,# Alt. Schools,City,County,Rank score (2017),Rank (2016),rank
0,0,0,1st,Orinda Union Elementary,K-8,4,1,0,0,Orinda,Contra Costa,0.989,3.0,1
1,1,1,2nd,San Marino Unified,K-12,2,1,1,0,San Marino,Los Angeles,0.989,6.0,2
2,2,2,3rd,Rancho Santa Fe Elementary,K-8,1,1,0,0,Rancho Santa Fe,San Diego,0.985,10.0,3
3,3,3,4th,Montecito Union Elementary,K-6,1,0,0,0,Santa Barbara,Santa Barbara,0.985,2.0,4
4,4,4,5th,La Canada Unified,K-12,3,0,1,0,La Canada,Los Angeles,0.983,4.0,5

In [681]:
district.to_csv("new_district.csv")

In [680]:
district[district["rank"] == 73]

,index,Rank,District,Grades,# Elementary Schools,# Middle Schools,# High Schools,# Alt. Schools,City,County,Rank score (2017),Rank (2016),rank
72,72,73rd,Douglas City Elementary,K-8,1,0,0,0,Douglas City,Trinity,0.869,63.0,73

In [673]:
district_temp[(district_temp["rank"] - district_temp["index"]) != 1]

,level_0,index,Rank,District,Grades,# Elementary Schools,# Middle Schools,# High Schools,# Alt. Schools,City,County,Rank score (2017),Rank (2016),rank
73,73,73,75th,Buellton Union Elementary,K-8,1,1,0,0,Buellton,Santa Barbara,0.867,71.0,75
74,74,74,76th,Millville Elementary,K-8,1,0,0,0,Millville,Shasta,0.865,87.0,76
75,75,75,77th,Freshwater Elementary,K-8,1,1,0,0,Eureka,Humboldt,0.857,92.0,77
76,76,76,78th,Carlsbad Unified,K-12,9,3,4,0,Carlsbad,San Diego,0.853,82.0,78
77,77,77,79th,Waugh Elementary,K-6,2,0,0,0,Petaluma,Sonoma,0.851,97.0,79
78,78,78,80th,Redondo Beach Unified,K-12,8,2,3,0,Redondo Beach,Los Angeles,0.850,84.0,80
79,79,79,81st,Mountain Elementary,K-6,1,0,0,0,Soquel,Santa Cruz,0.850,38.0,81
80,80,80,82nd,McCabe Union Elementary,K-8,1,0,0,0,El Centro,Imperial,0.849,98.0,82
81,81,81,83rd,Fremont Unified,K-12,29,5,8,1,Fremont,Alameda,0.846,94.0,83
82,82,82,84th,Kings River-Hardwick Union Elementary,K-8,1,0,0,0,Hanford,Kings,0.845,80.0,84
83,83,83,85th,Dublin Unified,K-12,7,2,2,0,Dublin,Alameda,0.834,73.0,85
84,84,84,86th,Los Olivos Elementary,K-8,1,0,0,0,Los Olivos,Santa Barbara,0.833,85.0,86
85,85,85,87th,Cypress Elementary,K-6,6,0,0,0,Cypress,Orange,0.830,103.0,87
86,86,86,88th,Newhall,K-6,10,0,0,0,Valencia,Los Angeles,0.829,91.0,88
87,87,87,89th,Kenwood,K-6,1,0,0,0,Kenwood,Sonoma,0.829,49.0,89
88,88,88,90th,Etiwanda Elementary,K-8,12,5,0,0,Etiwanda,San Bernardino,0.828,112.0,90
89,89,89,91st,Newcastle Elementary,K-12,4,0,1,1,Newcastle,Placer,0.828,76.0,91
90,90,90,92nd,Santa Monica-Malibu Unified,K-12,11,2,2,1,Santa Monica,Los Angeles,0.824,90.0,92
91,91,91,93rd,Lammersville Joint Unified,K-12,5,0,1,0,Mountain House,San Joaquin,0.823,150.0,93
92,92,92,94th,Davis Joint Unified,K-12,9,0,3,4,Davis,Yolo,0.823,102.0,94
93,93,93,95th,Oak Park Unified,K-12,3,1,2,1,Oak Park,Ventura,0.821,89.0,95
94,94,94,96th,Wiseburn Unified,K-12,4,1,3,0,Hawthorne,Los Angeles,0.820,NaN,96
95,95,95,97th,Franklin Elementary,K-8,1,0,0,0,Yuba City,Sutter,0.818,96.0,97
96,96,96,98th,Solvang Elementary,K-8,1,0,0,0,Solvang,Santa Barbara,0.818,237.0,98
97,97,97,99th,Rocklin Unified,K-12,14,2,4,1,Rocklin,Placer,0.815,109.0,99
98,98,98,100th,Fieldbrook Elementary,K-8,1,0,0,0,McKinleyville,Humboldt,0.815,88.0,100
99,99,99,101st,Loomis Union Elementary,K-12,7,0,0,1,Loomis,Placer,0.814,95.0,101
100,100,100,102nd,Hope Elementary,K-6,3,0,0,0,Santa Barbara,Santa Barbara,0.813,86.0,102
101,101,101,103rd,El Segundo Unified,K-12,2,1,2,0,El Segundo,Los Angeles,0.813,115.0,103
102,102,102,104th,Moreland,K-8,6,1,0,0,San Jose,Santa Clara,0.812,104.0,104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,1064,1064,NaN,Delphic Elementary,K-12,1,0,0,0,Montague,Siskiyou,NaN,NaN,0
1065,1065,1065,NaN,Marin County Regional Occupational Program,9-12,0,0,1,0,San Rafael,Marin,NaN,NaN,0
1066,1066,1066,NaN,Denair Unified,K-12,2,1,1,1,Denair,Stanislaus,NaN,NaN,0
1067,1067,1067,NaN,Leggett Valley Unified,K-12,2,0,2,0,Leggett,Mendocino,NaN,NaN,0
1068,1068,1068,NaN,Horicon Elementary,K-8,1,0,0,0,Annapolis,Sonoma,NaN,NaN,0
1069,1069,1069,NaN,Farmersville Unified,K-12,3,1,2,0,Farmersville,Tulare,NaN,NaN,0
1070,1070,1070,NaN,Mountain Union Elementary,K-8,1,0,0,0,Montgomery Creek,Shasta,NaN,NaN,0
1071,1071,1071,NaN,Big Lagoon Union Elementary,K-8,1,0,0,0,Trinidad,Humboldt,NaN,NaN,0
1072,1072,1072,NaN,Mountain Valley Unified,K-12,2,0,2,0,Hayfork,Trinity,NaN,NaN,0
1073,1073,1073,NaN,Belridge Elementary,K-8,1,0,0,0,Mc Kittrick,Kern,NaN,NaN,0
1074,1074,1074,NaN,Desert Center Unified,K-8,1,0,0,0,Desert Center,Riverside,NaN,NaN,0
1075,1075,1075,NaN,Southeast Regional Occupational Program,9-12,0,0,1,0,Cerritos,Los Angeles,NaN,NaN,0
1076,1076,1076,NaN,Yolo County Office Of Education,K-12,1,0,2,1,Woodland,Yolo,NaN,NaN,0
1077,1077,1077,NaN,State Board Of Education - Baypoint Preparator...,K-12,0,0,0,1,Hemet,Riverside,NaN,NaN,0
1078,1078,1078,NaN,Yolo County Regional Occupational Program,9-12,0,0,1,0,Woodland,Yolo,NaN,NaN,0
1079,1079,1079,NaN,Stony Creek Joint Unified,K-12,1,1,2,0,Elk Creek,Glenn,NaN,NaN,0
1080,1080,1080,NaN,Yosemite Regional Occupational Program,11-12,0,0,1,0,Modesto,Stanislaus,NaN,NaN,0
1081,1081,1081,NaN,Bret Harte Union High,9-12,0,0,3,0,Angels Camp,Calaveras,NaN,NaN,0
1082,1082,1082,NaN,Mt. Baldy Joint Elementary,K-8,1,0,0,0,Mt Baldy,San Bernardino,NaN,NaN,0
1083,1083,1083,NaN,San Francisco County Office Of Education,K-12,0,0,0,4,San Francisco,San Francisco,NaN,NaN,0
1084,1084,1084,NaN,Lake County Regional Occupational Program,9-12,0,0,1,0,Lakeport,Lake,NaN,NaN,0
1085,1085,1085,NaN,Mt. Shasta Union Elementary,K-8,2,0,0,0,Mount Shasta,Siskiyou,NaN,NaN,0
1086,1086,1086,NaN,Hart Regional Occupational Program,9-12,0,0,1,0,Santa Clarita,Los Angeles,NaN,NaN,0
1087,1087,1087,NaN,Happy Valley Union Elementary,K-8,3,0,0,0,Anderson,Shasta,NaN,NaN,0
1088,1088,1088,NaN,Yreka Union Elementary,K-8,3,0,0,0,Yreka,Siskiyou,NaN,NaN,0
1089,1089,1089,NaN,California School For The Blind (State Special...,K-12,0,0,0,1,Fremont,Alameda,NaN,NaN,0
1090,1090,1090,NaN,Siskiyou County Office Of Education,K-12,0,0,0,3,Yreka,Siskiyou,NaN,NaN,0
1091,1091,1091,NaN,Bogus Elementary,K-8,1,0,0,0,Montague,Siskiyou,NaN,NaN,0
1092,1092,1092,NaN,Klamath River Union Elementary,K-8,1,0,0,0,Horse Creek,Siskiyou,NaN,NaN,0
1093,1093,1093,NaN,Canyon Elementary,K-8,1,0,0,0,Canyon,Contra Costa,NaN,NaN,0

In [639]:
district[district["District"].apply(lambda k: "Du" in k)].sort_values("District")

,Rank,District,Grades,# Elementary Schools,# Middle Schools,# High Schools,# Alt. Schools,City,County,Rank score (2017),Rank (2016),rank
590,593rd,Acton-Agua Dulce Unified,K-12,4,1,4,8,Acton,Los Angeles,0.389,548.0,593
154,157th,Alta-Dutch Flat Union Elementary,K-8,1,0,0,0,Alta,Placer,0.744,241.0,157
550,553rd,Duarte Unified,K-12,5,1,3,0,Duarte,Los Angeles,0.424,503.0,553
83,85th,Dublin Unified,K-12,7,2,2,0,Dublin,Alameda,0.834,73.0,85
762,766th,Ducor Union Elementary,K-8,1,0,0,0,Ducor,Tulare,0.223,800.0,766
107,109th,Dunham Elementary,K-6,2,0,0,0,Petaluma,Sonoma,0.807,233.0,109
535,538th,Dunsmuir Elementary,K-8,1,0,0,0,Dunsmuir,Siskiyou,0.435,586.0,538
687,690th,Dunsmuir Joint Union High,9-12,0,0,2,0,Dunsmuir,Siskiyou,0.303,569.0,690
209,212th,Durham Unified,K-12,1,1,1,0,Durham,Butte,0.694,229.0,212
966,NaN,Jamul-Dulzura Union Elementary,K-12,2,1,0,1,Jamul,San Diego,NaN,NaN,0

In [4]:
hs_avg = hs.groupby("District").mean().sort_values("Average Standard Score (2017)", ascending = False).reset_index()
hs_avg = hs_avg.rename(columns={"Average Standard Score (2017)":"Avg HS Score"})
hs_avg.head()

,District,Rank (of 2021),Student/ Teacher Ratio,Avg HS Score,Rank (2016)
0,Hawthorne,25.0,25.70,97.6,33.0
1,San Marino Unified,56.0,21.00,95.9,81.0
2,La Canada Unified,55.0,24.70,95.9,23.0
3,Scott Valley Unified,74.0,14.00,95.2,118.0
4,Palo Alto Unified,79.5,19.05,95.0,24.0

In [5]:
ms_avg = ms.groupby("District").mean().sort_values("Average Standard Score (2017)", ascending = False).reset_index()
ms_avg = ms_avg.rename(columns={"Average Standard Score (2017)":"Avg MS Score"})
ms_avg.head()

,District,Rank (of 2021),Student/ Teacher Ratio,Avg MS Score,Rank (2016)
0,Santa Cruz County Office Of Education,20.0,18.50,97.7,177.0
1,Hawthorne,25.0,25.70,97.6,33.0
2,Pleasanton Unified,47.5,24.15,96.4,38.0
3,San Marino Unified,56.0,21.00,95.9,81.0
4,La Canada Unified,55.0,24.70,95.9,23.0

In [6]:
es_avg = es.groupby("District").mean().sort_values("Average Standard Score (2017)", ascending = False).reset_index()
es_avg = es_avg.rename(columns={"Average Standard Score (2017)":"Avg ES Score"})
es_avg.head()

,District,Rank (of 5692),Student/ Teacher Ratio,Avg ES Score,Rank (2016)
0,San Marino Unified,16.500000,21.600000,99.100000,25.5
1,Orinda Union Elementary,47.500000,23.775000,98.525000,59.5
2,Piedmont City Unified,71.333333,21.866667,98.266667,141.0
3,La Canada Unified,74.000000,23.266667,98.200000,62.0
4,Oxnard Union High,61.000000,23.700000,98.200000,363.0

In [7]:
district_avg = district.groupby("District").mean().sort_values("Rank score (2017)", ascending = False).reset_index()
district_avg.head()

,District,# Elementary Schools,# Middle Schools,# High Schools,# Alt. Schools,Rank score (2017),Rank (2016)
0,San Marino Unified,2.0,1.0,1.0,0.0,0.989,6.0
1,Orinda Union Elementary,4.0,1.0,0.0,0.0,0.989,3.0
2,Montecito Union Elementary,1.0,0.0,0.0,0.0,0.985,2.0
3,Rancho Santa Fe Elementary,1.0,1.0,0.0,0.0,0.985,10.0
4,La Canada Unified,3.0,0.0,1.0,0.0,0.983,4.0

In [8]:
city.head()

,Rank (of 859),City,# Elementary Schools,# Middle Schools,# High Schools,# Alt. Schools,# Private Schools*,Rank score (2017),Rank (2016)
0,1st,Del Mar,2,0,0,0,3,0.991,20.0
1,2nd,San Marino,2,1,1,0,2,0.989,4.0
2,3rd,Orinda,4,1,1,0,2,0.987,3.0
3,4th,Los Altos Hills,1,0,0,0,2,0.985,9.0
4,5th,La Canada,3,0,1,0,0,0.983,1.0

In [12]:
print(sorted(set(city.City)))

['Acampo', 'Acton', 'Adelanto', 'Agoura', 'Agoura Hills', 'Agua Dulce', 'Aguanga', 'Ahwahnee', 'Alameda', 'Alamo', 'Albany', 'Alhambra', 'Aliso Viejo', 'Alpaugh', 'Alpine', 'Alta', 'Alta Loma', 'Altadena', 'Alturas', 'Alviso', 'American Canyon', 'Anaheim', 'Anderson', 'Angels Camp', 'Antelope', 'Antioch', 'Anza', 'Apple Valley', 'Aptos', 'Arbuckle', 'Arcadia', 'Arcata', 'Arleta', 'Armona', 'Arnold', 'Aromas', 'Arroyo Grande', 'Artesia', 'Arvin', 'Atascadero', 'Atherton', 'Atwater', 'Auberry', 'Auburn', 'Avenal', 'Avery', 'Azusa', 'Baker', 'Bakersfield', 'Baldwin Park', 'Ballico', 'Banning', 'Barstow', 'Bay Point', 'Bayside', 'Beale Afb', 'Beaumont', 'Bell', 'Bell Gardens', 'Bella Vista', 'Bellflower', 'Belmont', 'Benicia', 'Berkeley', 'Bermuda Dunes', 'Beverly Hills', 'Bieber', 'Big Bear Lake', 'Big Pine', 'Biggs', 'Bloomington', 'Blue Lake', 'Blythe', 'Bolinas', 'Bonita', 'Bonsall', 'Boonville', 'Boron', 'Borrego Springs', 'Boulder Creek', 'Boulevard', 'Brawley', 'Brea', 'Brentwood', 'Brisbane', 'Browns Valley', 'Buellton', 'Buena Park', 'Burbank', 'Burlingame', 'Burnt Ranch', 'Buttonwillow', 'Cabazon', 'Calabasas', 'Calexico', 'California City', 'Calimesa', 'Calipatria', 'Calistoga', 'Camarillo', 'Cambria', 'Cameron Park', 'Camino', 'Campbell', 'Campo', 'Canoga Park', 'Cantua Creek', 'Canyon Country', 'Capistrano Beach', 'Capitola', 'Cardiff by the Sea', 'Carlotta', 'Carlsbad', 'Carmel', 'Carmel Valley', 'Carmichael', 'Carpinteria', 'Carson', 'Caruthers', 'Castaic', 'Castro Valley', 'Castroville', 'Cathedral City', 'Catheys Valley', 'Cayucos', 'Ceres', 'Cerritos', 'Challenge', 'Chatsworth', 'Chester', 'Chico', 'Chino', 'Chino Hills', 'Chowchilla', 'Chualar', 'Chula Vista', 'Citrus Heights', 'City Of Industry', 'Claremont', 'Clarksburg', 'Clayton', 'Clearlake', 'Clearlake Oaks', 'Cloverdale', 'Clovis', 'Coachella', 'Coalinga', 'Coarsegold', 'Coleville', 'Colfax', 'Colma', 'Colton', 'Columbia', 'Colusa', 'Commerce', 'Compton', 'Concord', 'Cool', 'Copperopolis', 'Corcoran', 'Corning', 'Corona', 'Corona Del Mar', 'Coronado', 'Corte Madera', 'Costa Mesa', 'Cotati', 'Coto De Caza', 'Cottonwood', 'Covina', 'Crescent City', 'Creston', 'Crockett', 'Crows Landing', 'Cudahy', 'Culver City', 'Cupertino', 'Cutler', 'Cypress', 'Daly City', 'Dana Point', 'Danville', 'Davenport', 'Davis', 'Del Mar', 'Del Rey', 'Delano', 'Delhi', 'Denair', 'Descanso', 'Desert Hot Springs', 'Diamond Bar', 'Diamond Springs', 'Dinuba', 'Discovery Bay', 'Dixon', 'Dos Palos', 'Douglas City', 'Downey', 'Duarte', 'Dublin', 'Ducor', 'Dunlap', 'Dunsmuir', 'Durham', 'Earlimart', 'East Nicolaus', 'East Palo Alto', 'Edgewood', 'Edwards', 'El Cajon', 'El Centro', 'El Cerrito', 'El Dorado', 'El Dorado Hills', 'El Monte', 'El Nido', 'El Segundo', 'El Sobrante', 'Elk Grove', 'Elverta', 'Emeryville', 'Empire', 'Encinitas', 'Encino', 'Escalon', 'Escondido', 'Esparto', 'Etiwanda', 'Etna', 'Eureka', 'Exeter', 'Fair Oaks', 'Fairfax', 'Fairfield', 'Fall River Mills', 'Fallbrook', 'Farmersville', 'Farmington', 'Fellows', 'Felton', 'Ferndale', 'Fillmore', 'Firebaugh', 'Five Points', 'Folsom', 'Fontana', 'Foothill Ranch', 'Forest Falls', 'Forest Ranch', 'Foresthill', 'Forestville', 'Fort Irwin', 'Fort Jones', 'Fortuna', 'Foster City', 'Fountain Valley', 'Freedom', 'Fremont', 'French Camp', 'Fresno', 'Fullerton', 'Galt', 'Garden Grove', 'Garden Valley', 'Gardena', 'Gaviota', 'Georgetown', 'Gerber', 'Geyserville', 'Gilroy', 'Glen Ellen', 'Glendale', 'Glendora', 'Gold River', 'Goleta', 'Gonzales', 'Gorman', 'Granada Hills', 'Grand Terrace', 'Granite Bay', 'Grass Valley', 'Greenfield', 'Greenville', 'Grenada', 'Gridley', 'Grimes', 'Groveland', 'Grover Beach', 'Guadalupe', 'Guerneville', 'Gustine', 'Hacienda Heights', 'Half Moon Bay', 'Hamilton City', 'Hanford', 'Happy Camp', 'Harbor City', 'Hawaiian Gardens', 'Hawthorne', 'Hayfork', 'Hayward', 'Healdsburg', 'Heber', 'Helendale', 'Helm', 'Hemet', 'Herald', 'Hercules', 'Hermosa Beach', 'Hesperia', 'Hickman', 'Highland', 'Hillsborough', 'Hilmar', 'Hollister', 'Hollywood', 'Holtville', 'Hughson', 'Huntington Beach', 'Huntington Park', 'Huron', 'Hydesville', 'Idyllwild', 'Imperial', 'Imperial Beach', 'Indian Wells', 'Indio', 'Inglewood', 'Inyokern', 'Ione', 'Irvine', 'Isleton', 'Ivanhoe', 'Jackson', 'Jacumba', 'Jamestown', 'Jamul', 'Janesville', 'Joshua Tree', 'Julian', 'Kelseyville', 'Kensington', 'Kentfield', 'Kenwood', 'Kerman', 'Kernville', 'Kettleman City', 'Keyes', 'King City', 'Kingsburg', 'Klamath', 'Knights Ferry', 'Knights Landing', 'Knightsen', 'La Canada', 'La Crescenta', 'La Grange', 'La Habra', 'La Jolla', 'La Mesa', 'La Mirada', 'La Palma', 'La Puente', 'La Quinta', 'La Selva Beach', 'La Verne', 'Ladera Ranch', 'Lafayette', 'Laguna Beach', 'Laguna Hills', 'Laguna Niguel', 'Lake Arrowhead', 'Lake Elsinore', 'Lake Forest', 'Lake Hughes', 'Lake Isabella', 'Lake View Terrace', 'Lakeside', 'Lakewood', 'Lamont', 'Lancaster', 'Landers', 'Larkspur', 'Lathrop', 'Laton', 'Lawndale', 'Laytonville', 'Le Grand', 'Lebec', 'Lee Vining', 'Lemon Cove', 'Lemon Grove', 'Lemoore', 'Lennox', 'Leona Valley', 'Lincoln', 'Linden', 'Lindsay', 'Litchfield', 'Littlerock', 'Live Oak', 'Livermore', 'Livingston', 'Lockeford', 'Lockwood', 'Lodi', 'Loleta', 'Loma Linda', 'Lomita', 'Lompoc', 'Lone Pine', 'Long Beach', 'Loomis', 'Los Alamitos', 'Los Alamos', 'Los Altos', 'Los Altos Hills', 'Los Angeles', 'Los Banos', 'Los Gatos', 'Los Molinos', 'Los Nietos', 'Los Olivos', 'Los Osos', 'Lost Hills', 'Lower Lake', 'Loyalton', 'Lucerne', 'Lucerne Valley', 'Lynwood', 'Macdoel', 'Madera', 'Magalia', 'Malibu', 'Mammoth Lakes', 'Manhattan Beach', 'Manteca', 'Maricopa', 'Marina', 'Marina Del Rey', 'Mariposa', 'Markleeville', 'Martinez', 'Marysville', 'Mather', 'Maxwell', 'Maywood', 'Mc Farland', 'McArthur', 'McClellan', 'McKinleyville', 'Mecca', 'Mendocino', 'Mendota', 'Menifee', 'Menlo Park', 'Mentone', 'Merced', 'Middletown', 'Midway City', 'Mill Valley', 'Millbrae', 'Millville', 'Milpitas', 'Miranda', 'Mission Hills', 'Mission Viejo', 'Modesto', 'Mojave', 'Mokelumne Hill', 'Monrovia', 'Montara', 'Montclair', 'Monte Rio', 'Montebello', 'Monterey', 'Monterey Park', 'Moorpark', 'Moraga', 'Moreno Valley', 'Morgan Hill', 'Morongo Valley', 'Morro Bay', 'Mountain House', 'Mountain View', 'Murphys', 'Murrieta', 'Napa', 'National City', 'Needles', 'Nevada City', 'New Cuyama', 'Newark', 'Newberry Springs', 'Newbury Park', 'Newcastle', 'Newhall', 'Newman', 'Newport Beach', 'Nicolaus', 'Nipomo', 'Norco', 'North Highlands', 'North Hills', 'North Hollywood', 'Northridge', 'Norwalk', 'Novato', 'Nuevo', 'O Neals', 'Oak Hills', 'Oak Park', 'Oak View', 'Oakdale', 'Oakhurst', 'Oakland', 'Oakley', 'Occidental', 'Oceano', 'Oceanside', 'Ojai', 'Olivehurst', 'Olympic Valley', 'Ontario', 'Orange', 'Orange Cove', 'Orangevale', 'Oregon House', 'Orinda', 'Orland', 'Oro Grande', 'Orosi', 'Oroville', 'Oxnard', 'Pacific Grove', 'Pacific Palisades', 'Pacifica', 'Pacoima', 'Pala', 'Palm Desert', 'Palm Springs', 'Palmdale', 'Palo Alto', 'Palo Cedro', 'Palos Verdes Estates', 'Panorama City', 'Paradise', 'Paramount', 'Parlier', 'Pasadena', 'Paso Robles', 'Patterson', 'Pauma Valley', 'Pearblossom', 'Penn Valley', 'Penngrove', 'Penryn', 'Perris', 'Pescadero', 'Petaluma', 'Phelan', 'Pico Rivera', 'Piedmont', 'Pine Mountain Club', 'Pine Valley', 'Pinedale', 'Pinole', 'Pinon Hills', 'Pioneer', 'Piru', 'Pismo Beach', 'Pittsburg', 'Pixley', 'Placentia', 'Placerville', 'Planada', 'Playa Del Rey', 'Playa Vista', 'Pleasant Grove', 'Pleasant Hill', 'Pleasanton', 'Plumas Lake', 'Plymouth', 'Point Arena', 'Point Reyes Station', 'Pollock Pines', 'Pomona', 'Port Hueneme', 'Porterville', 'Portola', 'Portola Valley', 'Potrero', 'Potter Valley', 'Poway', 'Prather', 'Princeton', 'Quartz Hill', 'Raisin City', 'Ramona', 'Rancho Cordova', 'Rancho Cucamonga', 'Rancho Mirage', 'Rancho Palos Verdes', 'Rancho Santa Fe', 'Rancho Santa Margarita', 'Raymond', 'Red Bluff', 'Redding', 'Redlands', 'Redondo Beach', 'Redway', 'Redwood City', 'Redwood Valley', 'Reedley', 'Rescue', 'Reseda', 'Rialto', 'Richgrove', 'Richmond', 'Ridgecrest', 'Rio Dell', 'Rio Linda', 'Rio Oso', 'Rio Vista', 'Ripon', 'Riverbank', 'Riverdale', 'Riverside', 'Robbins', 'Rocklin', 'Rodeo', 'Rohnert Park', 'Rolling Hills', 'Rolling Hills Estates', 'Romoland', 'Rosamond', 'Rosemead', 'Roseville', 'Ross', 'Rowland Heights', 'Running Springs', 'Sacramento', 'Saint Helena', 'Salida', 'Salinas', 'Salton City', 'San Andreas', 'San Anselmo', 'San Bernardino', 'San Bruno', 'San Carlos', 'San Clemente', 'San Diego', 'San Dimas', 'San Fernando', 'San Francisco', 'San Gabriel', 'San Geronimo', 'San Jacinto', 'San Joaquin', 'San Jose', 'San Juan Bautista', 'San Juan Capistrano', 'San Leandro', 'San Lorenzo', 'San Luis Obispo', 'San Marcos', 'San Marino', 'San Martin', 'San Mateo', 'San Miguel', 'San Pablo', 'San Pedro', 'San Rafael', 'San Ramon', 'San Ysidro', 'Sanger', 'Santa Ana', 'Santa Barbara', 'Santa Clara', 'Santa Clarita', 'Santa Cruz', 'Santa Fe Springs', 'Santa Margarita', 'Santa Maria', 'Santa Monica', 'Santa Nella', 'Santa Paula', 'Santa Rosa', 'Santa Ynez', 'Santee', 'Saratoga', 'Saugus', 'Sausalito', 'Scotia', 'Scotts Valley', 'Seal Beach', 'Seaside', 'Sebastopol', 'Seeley', 'Selma', 'Shafter', 'Shandon', 'Shasta', 'Shasta Lake', 'Sheridan', 'Sherman Oaks', 'Shingle Springs', 'Shingletown', 'Sierra Madre', 'Signal Hill', 'Simi Valley', 'Sloughhouse', 'Smith River', 'Snelling', 'Solana Beach', 'Soledad', 'Solvang', 'Somerset', 'Somis', 'Sonoma', 'Sonora', 'Soquel', 'Soulsbyville', 'South El Monte', 'South Gate', 'South Lake Tahoe', 'South Pasadena', 'South San Francisco', 'Spreckels', 'Spring Valley', 'Springville', 'Stanford', 'Stanton', 'Stevenson Ranch', 'Stevinson', 'Stockton', 'Stratford', 'Strathmore', 'Studio City', 'Suisun City', 'Summerland', 'Sun City', 'Sun Valley', 'Sunland', 'Sunnyvale', 'Sunol', 'Susanville', 'Sutter', 'Sutter Creek', 'Sylmar', 'Tahoe City', 'Tarzana', 'Tehachapi', 'Temecula', 'Temple City', 'Templeton', 'Terra Bella', 'Thermal', 'Thornton', 'Thousand Oaks', 'Thousand Palms', 'Three Rivers', 'Tiburon', 'Tipton', 'Tollhouse', 'Tomales', 'Topanga', 'Torrance', 'Trabuco Canyon', 'Tracy', 'Tranquillity', 'Traver', 'Travis Afb', 'Tres Pinos', 'Trinidad', 'Trona', 'Truckee', 'Tujunga', 'Tulare', 'Tulelake', 'Tuolumne', 'Tupman', 'Turlock', 'Tustin', 'Twain Harte', 'Twentynine Palms', 'Ukiah', 'Union City', 'Upland', 'Upper Lake', 'Vacaville', 'Valencia', 'Vallejo', 'Valley Center', 'Valley Home', 'Valley Springs', 'Van Nuys', 'Vandenberg Afb', 'Venice', 'Ventura', 'Victor', 'Victorville', 'Villa Park', 'Vina', 'Visalia', 'Vista', 'Walnut', 'Walnut Creek', 'Walnut Grove', 'Walnut Park', 'Warner Springs', 'Wasco', 'Waterford', 'Watsonville', 'Weed', 'Weimar', 'Weldon', 'Weott', 'West Covina', 'West Hills', 'West Hollywood', 'West Point', 'West Sacramento', 'Westlake Village', 'Westley', 'Westminster', 'Westmorland', 'Westwood', 'Wheatland', 'Whittier', 'Wildomar', 'Williams', 'Willits', 'Willow Creek', 'Willows', 'Wilmington', 'Wilton', 'Winchester', 'Windsor', 'Winnetka', 'Winterhaven', 'Winters', 'Winton', 'Woodlake', 'Woodland', 'Woodland Hills', 'Woodside', 'Wrightwood', 'Yerington', 'Yermo', 'Yolo', 'Yorba Linda', 'Yountville', 'Yreka', 'Yuba City', 'Yucaipa', 'Yucca Valley']

In [41]:
total = pd.merge(hs_avg, ms_avg, how='inner', on="District")
total = total[["District", "Avg HS Score", "Avg MS Score"]]
total.head()

               District  Avg HS Score  Avg MS Score
0             Hawthorne          97.6          97.6
1    San Marino Unified          95.9          95.9
2     La Canada Unified          95.9          95.9
3  Scott Valley Unified          95.2          95.2
4     Palo Alto Unified          95.0          95.0

In [42]:
total = pd.merge(total, es_avg, how='inner', on="District")
total = total[["District", "Avg HS Score", "Avg MS Score", "Avg ES Score"]]
total.head()

               District  Avg HS Score  Avg MS Score  Avg ES Score
0             Hawthorne          97.6          97.6     38.500000
1    San Marino Unified          95.9          95.9     99.100000
2     La Canada Unified          95.9          95.9     98.200000
3  Scott Valley Unified          95.2          95.2     56.750000
4     Palo Alto Unified          95.0          95.0     93.291667

In [43]:
total["avg"] = (total["Avg HS Score"] + total["Avg MS Score"] + total["Avg ES Score"]) / 3

In [53]:
temp = pd.merge(total, district, how = 'inner', on = 'District')
temp = temp[["District", "Avg HS Score", "Avg MS Score", "Avg ES Score", "avg", "Rank score (2017)"]]
temp.sort_values("avg", ascending=False, inplace=True)
temp["Rank score (2017)"] = temp['Rank score (2017)'] * 100
temp.to_csv("compare.csv")
temp.head()

,District,Avg HS Score,Avg MS Score,Avg ES Score,avg,Rank score (2017)
1,San Marino Unified,95.9,95.9,99.100000,96.966667,98.9
2,La Canada Unified,95.9,95.9,98.200000,96.666667,98.3
5,Manhattan Beach Unified,94.9,94.9,97.040000,95.613333,96.8
7,Albany City Unified,94.8,94.8,94.366667,94.655556,94.4
9,South Pasadena Unified,93.5,93.5,96.333333,94.444444,96.2

In [55]:
print(len(district), len(es) + len(ms) + len(hs))

1094 9013

In [58]:
#DO NOT RUN THESE; THIS WAS JUST AN INEFFICIENT TEST
# test = pd.merge(pd.merge(es, ms, how='outer', on='District'), hs, how='outer', on='District')
# len(set(test.District)) # = 914

914

In [57]:
len(set(es.District))

822

In [45]:
total.sort_values("avg", ascending = False)

,District,Avg HS Score,Avg MS Score,Avg ES Score,avg
1,San Marino Unified,95.900000,95.900000,99.100000,96.966667
2,La Canada Unified,95.900000,95.900000,98.200000,96.666667
5,Manhattan Beach Unified,94.900000,94.900000,97.040000,95.613333
7,Albany City Unified,94.800000,94.800000,94.366667,94.655556
9,South Pasadena Unified,93.500000,93.500000,96.333333,94.444444
4,Palo Alto Unified,95.000000,95.000000,93.291667,94.430556
12,Laguna Beach Unified,93.100000,93.100000,96.050000,94.083333
8,Carmel Unified,94.200000,94.200000,93.600000,94.000000
10,Los Alamitos Unified,93.200000,93.200000,95.583333,93.994444
6,Beverly Hills Unified,94.900000,94.900000,90.125000,93.308333
15,Arcadia Unified,92.000000,92.000000,95.333333,93.111111
11,Walnut Valley Unified,93.200000,93.200000,92.200000,92.866667
21,Piedmont City Unified,86.950000,86.950000,98.266667,90.722222
17,Coronado Unified,91.000000,91.000000,86.650000,89.550000
19,Scotts Valley Unified,88.500000,88.500000,90.850000,89.283333
16,Pacific Grove Unified,91.900000,91.900000,82.300000,88.700000
41,Irvine Unified,77.820000,94.100000,91.320833,87.746944
57,Pleasanton Unified,72.033333,96.400000,94.522222,87.651852
36,Poway Unified,79.316667,91.240000,89.576923,86.711197
24,Las Virgenes Unified,85.100000,85.100000,88.211111,86.137037
14,Saint Helena Unified,92.100000,92.100000,71.500000,85.233333
33,San Ramon Valley Unified,80.683333,80.683333,94.295238,85.220635
78,Palos Verdes Peninsula Unified,66.400000,92.900000,94.380000,84.560000
87,Oak Park Unified,65.000000,89.600000,95.533333,83.377778
65,Carlsbad Unified,70.800000,88.400000,90.900000,83.366667
51,Davis Joint Unified,73.350000,91.933333,82.900000,82.727778
25,Lammersville Joint Unified,84.600000,84.600000,77.960000,82.386667
3,Scott Valley Unified,95.200000,95.200000,56.750000,82.383333
46,Fremont Unified,75.357143,85.166667,85.553571,82.025794
26,Loomis Union Elementary,83.400000,83.400000,75.412500,80.737500
...,...,...,...,...,...
317,Denair Unified,35.250000,55.000000,16.200000,35.483333
258,Corcoran Joint Unified,42.500000,42.500000,21.000000,35.333333
326,Spencer Valley Elementary,34.350000,48.000000,22.900000,35.083333
334,Madera Unified,33.200000,45.900000,25.926316,35.008772
348,Burton Elementary,31.400000,43.600000,29.000000,34.666667
339,Montebello Unified,32.216667,42.825000,28.817647,34.619771
253,Laton Joint Unified,42.800000,42.800000,17.700000,34.433333
372,Cutler-Orosi Joint Unified,22.600000,36.900000,43.600000,34.366667
373,Riverside County Office Of Education,20.683333,58.300000,23.300000,34.094444
234,Golden Plains Unified,44.800000,44.800000,12.625000,34.075000
359,Lynwood Unified,27.900000,43.000000,30.166667,33.688889
246,Biggs Unified,43.800000,43.800000,13.300000,33.633333
374,Alameda County Office Of Education,20.333333,41.400000,38.560000,33.431111
312,Loleta Union Elementary,36.100000,36.100000,27.500000,33.233333
368,Banning Unified,25.566667,54.100000,19.800000,33.155556
352,Rialto Unified,29.540000,42.766667,26.910526,33.072398
365,Pittsburg Unified,26.450000,43.800000,28.287500,32.845833
307,Emery Unified,37.000000,37.000000,23.800000,32.600000
332,North Monterey County Unified,33.400000,45.400000,18.975000,32.591667
375,Dinuba Unified,19.966667,39.200000,37.033333,32.066667
345,Konocti Unified,31.533333,53.300000,9.700000,31.511111
370,Southern Kern Unified,23.833333,50.400000,19.400000,31.211111
367,Gonzales Unified,25.800000,43.400000,23.900000,31.033333
269,Fort Sage Unified,41.300000,41.300000,8.600000,30.400000
356,Barstow Unified,28.550000,39.600000,22.200000,30.116667
361,Hilmar Unified,27.750000,45.000000,17.600000,30.116667
338,Coachella Valley Unified,32.380000,39.466667,18.135714,29.994127
362,Calexico Unified,27.550000,45.600000,16.000000,29.716667
371,Coalinga-Huron Unified,23.733333,50.900000,12.600000,29.077778
363,Mojave Unified,27.500000,37.100000,11.450000,25.350000

In [47]:
district.sort_values("Rank score (2017)", ascending = False)

,Rank (of 849),District,Grades,# Elementary Schools,# Middle Schools,# High Schools,# Alt. Schools,City,County,Rank score (2017),Rank (2016)
0,1st,Orinda Union Elementary,K-8,4,1,0,0,Orinda,Contra Costa,0.989,3.0
1,2nd,San Marino Unified,K-12,2,1,1,0,San Marino,Los Angeles,0.989,6.0
2,3rd,Rancho Santa Fe Elementary,K-8,1,1,0,0,Rancho Santa Fe,San Diego,0.985,10.0
3,4th,Montecito Union Elementary,K-6,1,0,0,0,Santa Barbara,Santa Barbara,0.985,2.0
4,5th,La Canada Unified,K-12,3,0,1,0,La Canada,Los Angeles,0.983,4.0
5,6th,Los Altos Elementary,K-8,7,2,0,0,Los Altos,Santa Clara,0.981,13.0
6,7th,Ross Elementary,K-8,1,0,0,0,Ross,Marin,0.981,9.0
7,8th,Saratoga Union Elementary,K-8,3,1,0,0,Saratoga,Santa Clara,0.981,1.0
8,9th,Del Mar Union Elementary,K-6,8,0,0,0,San Diego,San Diego,0.980,18.0
9,10th,Portola Valley Elementary,K-8,2,0,0,0,Portola Valley,San Mateo,0.977,14.0
10,11th,Las Lomitas Elementary,K-8,2,0,0,0,Menlo Park,San Mateo,0.977,21.0
11,12th,Moraga Elementary,K-8,3,1,0,0,Moraga,Contra Costa,0.976,7.0
12,13th,Cold Spring Elementary,K-6,1,0,0,0,Santa Barbara,Santa Barbara,0.976,17.0
13,14th,Lafayette Elementary,K-8,4,1,0,0,Lafayette,Contra Costa,0.975,20.0
14,15th,Hillsborough City Elementary,K-8,3,1,0,0,Hillsborough,San Mateo,0.971,5.0
15,16th,Menlo Park City Elementary,K-8,3,1,0,0,Atherton,San Mateo,0.969,19.0
16,17th,Manhattan Beach Unified,K-12,6,1,1,0,Manhattan Beach,Los Angeles,0.968,22.0
17,18th,Woodside Elementary,K-8,1,0,0,0,Woodside,San Mateo,0.967,15.0
18,19th,Reed Union Elementary,K-8,2,1,0,0,Tiburon,Marin,0.965,8.0
19,20th,Cupertino Union,K-8,20,5,0,0,Cupertino,Santa Clara,0.965,24.0
20,21st,South Pasadena Unified,K-12,3,1,1,0,South Pasadena,Los Angeles,0.962,26.0
21,22nd,Mill Valley Elementary,K-8,5,1,0,0,Mill Valley,Marin,0.957,16.0
22,23rd,Los Gatos-Saratoga Joint Union High,9-12,0,0,2,0,Los Gatos,Santa Clara,0.956,11.0
23,24th,Clay Joint Elementary,K-8,1,0,0,0,Kingsburg,Fresno,0.954,51.0
24,25th,Laguna Beach Unified,K-12,2,1,1,0,Laguna Beach,Orange,0.954,29.0
25,26th,Los Alamitos Unified,K-12,6,2,1,0,Los Alamitos,Orange,0.953,30.0
26,27th,Arcadia Unified,K-12,6,3,1,1,Arcadia,Los Angeles,0.952,36.0
27,28th,Piedmont City Unified,K-12,3,1,2,0,Piedmont,Alameda,0.950,46.0
29,30th,Belmont-Redwood Shores Elementary,K-8,6,1,0,0,Belmont,San Mateo,0.948,35.0
28,29th,Union Elementary,K-8,7,2,0,0,San Jose,Santa Clara,0.948,33.0
...,...,...,...,...,...,...,...,...,...,...,...
1064,NaN,Delphic Elementary,K-12,1,0,0,0,Montague,Siskiyou,NaN,NaN
1065,NaN,Marin County Regional Occupational Program,9-12,0,0,1,0,San Rafael,Marin,NaN,NaN
1066,NaN,Denair Unified,K-12,2,1,1,1,Denair,Stanislaus,NaN,NaN
1067,NaN,Leggett Valley Unified,K-12,2,0,2,0,Leggett,Mendocino,NaN,NaN
1068,NaN,Horicon Elementary,K-8,1,0,0,0,Annapolis,Sonoma,NaN,NaN
1069,NaN,Farmersville Unified,K-12,3,1,2,0,Farmersville,Tulare,NaN,NaN
1070,NaN,Mountain Union Elementary,K-8,1,0,0,0,Montgomery Creek,Shasta,NaN,NaN
1071,NaN,Big Lagoon Union Elementary,K-8,1,0,0,0,Trinidad,Humboldt,NaN,NaN
1072,NaN,Mountain Valley Unified,K-12,2,0,2,0,Hayfork,Trinity,NaN,NaN
1073,NaN,Belridge Elementary,K-8,1,0,0,0,Mc Kittrick,Kern,NaN,NaN
1074,NaN,Desert Center Unified,K-8,1,0,0,0,Desert Center,Riverside,NaN,NaN
1075,NaN,Southeast Regional Occupational Program,9-12,0,0,1,0,Cerritos,Los Angeles,NaN,NaN
1076,NaN,Yolo County Office Of Education,K-12,1,0,2,1,Woodland,Yolo,NaN,NaN
1077,NaN,State Board Of Education - Baypoint Preparator...,K-12,0,0,0,1,Hemet,Riverside,NaN,NaN
1078,NaN,Yolo County Regional Occupational Program,9-12,0,0,1,0,Woodland,Yolo,NaN,NaN
1079,NaN,Stony Creek Joint Unified,K-12,1,1,2,0,Elk Creek,Glenn,NaN,NaN
1080,NaN,Yosemite Regional Occupational Program,11-12,0,0,1,0,Modesto,Stanislaus,NaN,NaN
1081,NaN,Bret Harte Union High,9-12,0,0,3,0,Angels Camp,Calaveras,NaN,NaN
1082,NaN,Mt. Baldy Joint Elementary,K-8,1,0,0,0,Mt Baldy,San Bernardino,NaN,NaN
1083,NaN,San Francisco County Office Of Education,K-12,0,0,0,4,San Francisco,San Francisco,NaN,NaN
1084,NaN,Lake County Regional Occupational Program,9-12,0,0,1,0,Lakeport,Lake,NaN,NaN
1085,NaN,Mt. Shasta Union Elementary,K-8,2,0,0,0,Mount Shasta,Siskiyou,NaN,NaN
1086,NaN,Hart Regional Occupational Program,9-12,0,0,1,0,Santa Clarita,Los Angeles,NaN,NaN
1087,NaN,Happy Valley Union Elementary,K-8,3,0,0,0,Anderson,Shasta,NaN,NaN
1088,NaN,Yreka Union Elementary,K-8,3,0,0,0,Yreka,Siskiyou,NaN,NaN
1089,NaN,California School For The Blind (State Special...,K-12,0,0,0,1,Fremont,Alameda,NaN,NaN
1090,NaN,Siskiyou County Office Of Education,K-12,0,0,0,3,Yreka,Siskiyou,NaN,NaN
1091,NaN,Bogus Elementary,K-8,1,0,0,0,Montague,Siskiyou,NaN,NaN
1092,NaN,Klamath River Union Elementary,K-8,1,0,0,0,Horse Creek,Siskiyou,NaN,NaN
1093,NaN,Canyon Elementary,K-8,1,0,0,0,Canyon,Contra Costa,NaN,NaN